html, body {
  margin: 0;
  height: 100%;
}
body {
  padding: 20px;
  background: url(../img/background.jpg) no-repeat center center fixed;
  background-size: cover;
}

/* Menu */
ul#menu {
  margin-bottom: 10px;
  text-align: light;
}
ul#menu li {
  display: inline-block;
  margin-left: 10px;
}