<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>首頁</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
<link rel="icon" href="{% static 'main/img/favicon.ico' %} " type="image/x-icon }">
</head>
<body>
<background src="static 'main/img/maps-1217.gif">
{% include 'main/menu.html' %}
<h1>聽我跟你說 霧峰 !</h1>
<h2><font color="red" >歷史</font></h2>
<hr>
<p>&emsp;&emsp;霧峰舊稱「阿罩霧」，一說為出自平埔族貓羅社所居之地的原住民族阿罩霧社（Ataabu社，或譯阿他霧社）；另說則為此地東半部山區經常煙霧繚繞，因而得名。霧峰最有影響力的氏族屬林家，人稱霧峰林家。與板橋林家（無親屬關係）、鹿港辜家、高雄陳家、基隆顏家並列為近代顯赫的台灣五大家族。</p>
<p>&emsp;&emsp;霧峰地區自古為為平埔洪雅族貓羅社（Bnauro）、Ataabu社與泰雅族賽考列克群的聚居地。明鄭時期隸屬於天興縣，清康熙時期，隸屬於台灣府諸羅縣，雍正初年，為彰化縣貓羅堡轄區範圍，開始有漢人沿大肚溪至溪東開發柳樹湳。乾隆年間，此地始設「貓羅新莊」。而根據伊能嘉矩的考證，自清領時期，就出現霧峰一名，作為阿罩霧的雅稱。</p>
<p>&emsp;&emsp;1887年台灣建省，改隸台灣府台灣縣貓羅堡。1895年日治初期，改為台灣民政支部彰化出張所貓羅堡。隔年，台灣民政支部改為台中縣。1900年，再改制為台中廳貓羅堡。1920年阿罩霧正式改為霧峰，設置霧峰庄，屬台中州大屯郡管轄。</p>
<p>&emsp;&emsp;1945年12月，中華民國政府接收台灣，改制為臺中縣大屯區「霧峰鄉」。1950年撤廢區署，改為臺中縣霧峰鄉。1954年臺灣省政府疏遷至台灣中部地區，包含秘書處、衛生處及教育廳等遷至於此，並設置「光復新村」省府宿舍，1954年秘書處、衛生處遷往南投中興新村。1956年「北溝文物陳列室」開館，為國立故宮博物院舊址。1958年台灣省最高民意機關「臺灣省議會」設立於此。1998年實施精省計畫，台灣省議會改制為「臺灣省諮議會」，多數省府機關改隸屬中央部會或改制為中部辦公室。</p>
<p>&emsp;&emsp;2010年12月25日隨著省轄臺中市與台中縣合併為直轄市，霧峰鄉也改制為臺中市「霧峰區」。</p>

<h2><font color="red" >地理</font></h2>
<hr>
<h3><font color="#0072E3" >地形</font></h3>
<p>&emsp;&emsp;霧峰區，位於台中盆地之東側和台中山地之交界處。盆地和坡地地形，約各佔一半。以車籠埔斷層為界，西側屬台中盆地的一部分，以沖積扇平地為主；東側屬丘陵地形，以東南側為高，等高線多在200-500公尺之間。 全區地勢呈東南高，西北低；其中則以東南山境為最高峰－－「霧峰奧山」，又稱霧峰契山，海拔標高483公尺，位於青桐林生態產業園區內，與大橫屏山山脈並行。
</p>
<h3><font color="#0072E3" >水文</font></h3>
<p>&emsp;&emsp;流經該區河川，主要有大里溪、草湖溪、北溝溪、乾溪、烏溪（依河道相對位置自北至南排列）。均屬烏溪（舊稱大肚溪）水系，主以東側高處向西流。大里溪、草湖溪位於該區北側；烏溪位於該區南側，是該區最大的河川。經濟部水利署中區水資源局及水利規劃試驗所亦位於霧峰。
</p>
<h4><font color="#F75000" >河川</font></h4>


<p>時間看我：{{ now }}</p>
</body>
</html>